/.project
/*.docx
/test/*.docx
add/*-report.html
*-report.html
*.zip
/fertig/
/test/
result/
xspec/
wt0.xml
wt1.xml
wt2.xml
ECMA-376, Fifth Edition, Part 1 - Fundamentals And Markup Language Reference/
build/
