/.project
/EE131_Trankript.xml
/EE131_Ueberlieferung und Trankript.docx
/EE131_Ueberlieferung und Trankript.xml
/EE131_intro.xml
/EE82_Ueberlieferung.xml
/EE82_Ueberlieferung.zip
/einleitung.xml
/intro.html
/wtotei-intro-result.html
